.ar{display:grid;grid-template-columns:repeat(auto-fill, 7.6rem);grid-auto-rows:7.6rem;gap:0.5rem;margin:0.5rem 0;justify-content:center;}.ai svg,.pr svg{stroke:var(--fg);fill:none;stroke-width:1px;stroke-linecap:round;stroke-linejoin:round;}.ai svg{padding:0.3rem;border:1px solid var(--ln);}