:root {
  --bg: #d9d9d9;
  --fg: #262626;
  --ln: #3956aa;
  scroll-behavior: smooth;
}
@media(prefers-color-scheme:dark) {
  :root {
    --bg: #262626;
    --fg: #d9d9d9;
    --ln: #dfc540;
  }
}
body {
  animation-duration: 0s;
  animation-delay: 0s;
  margin: 0 auto;
  background: var(--bg);
  color: var(--fg);
  max-width: 50rem;
  padding: 0 20px;
}
* { font-family: Noto Sans Sinhala, Noto Sans; }
@media only screen and (max-width:600px) {
  body { font-size: 1.1rem; }
  header { margin-bottom: 20px; }
}
header {
  text-align: center;
  padding: 0.5rem;
}
header h1, header small { margin: 0; }
a {
  text-decoration: none;
  color: var(--ln);
  word-wrap: break-word;
}
#b {
  height: 1.8rem;
  vertical-align: text-bottom;
  border: 1px solid var(--fg);
  color: var(--fg);
}
#b path {
  stroke: var(--fg);
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#t { display: inline; }
article, section {
  margin: 1rem auto;
  padding: 2rem;
}
article { border: 1px solid var(--fg); }
section { border: 1px dashed var(--fg); }
article *, section * {
  margin-top: 0;
  margin-bottom: 0;
}
article p, section p { margin-top: 1rem; }
article blockquote, section blockquote { margin-right: 0; }
a article { border-color: var(--ln); }
ul { margin-top: 0; }
footer {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid var(--fg);
  padding: 0.5rem;
  font-size: 70%;
}
input[type=search] {
  width: 20rem;
  max-width: 100%;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
button { max-width: 100%; }
mark {
  color: var(--bg);
  padding: 0.2rem;
  background: var(--fg);
}
.pn>a,.pn>mark {
  display: inline-block;
  min-width: 36px;
  text-align: center;
}