{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/akuru.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
{% endblock %}

{% block title %}{{ info['letter'] }} අකුර{% endblock %}

{% block content %}
<center>
    <div id="prc">
        <input class="p" id="p" type="checkbox">
        <label id="l" for="p"></label>
        <div class="pr" id="l{{ info['id'] }}">
            <img id="r" src="{{ url_for('static', filename='rules.svg') }}">
            {% include '.akuru/svg/' + info['id']|string + '.svg' %}
        </div>
    </div>
</center>

<section>
    <p>
        {% if info['swara'] %}
            ස්වර
            {% if info['keti_swara'] %}
                (කෙටි ස්වර)
            {% elif info['deerga_swara'] %}
                (දීර්ඝ ස්වර)
            {% endif %}
        {% else %}
            ව්‍යංජන
        {% endif %}
    </p>
    <p>
        {% if info['alpaprana'] %}
            අල්පප්‍රාණ
        {% elif info['mahaprana'] %}
            මහාප්‍රාණ
        {% endif %}
    </p>
</section>

<section>
    බාගැනීම්
    <small>
        <ul>
            <li><a download href="akuru_video_{{ '%02d' % info['id'] }}_light.mp4">වීඩියෝව</a> <small>[{{ info['download_sizes']['video_light'] }}]</small></li>
            <li><a download href="akuru_video_{{ '%02d' % info['id'] }}_night.mp4">වීඩියෝව (අඳුරු)</a> <small>[{{ info['download_sizes']['video_night'] }}]</small></li>
            <li><a download href="akuru_video_{{ '%02d' % info['id'] }}_color.mp4">වීඩියෝව (වර්ණ)</a> <small>[{{ info['download_sizes']['video_color'] }}]</small></li>
            <li><a download href="akuru_image_{{ '%02d' % info['id'] }}_light.png">පින්තූරය</a> <small>[{{ info['download_sizes']['image_light'] }}]</small></li>
            <li><a download href="akuru_image_{{ '%02d' % info['id'] }}_night.png">පින්තූරය (අඳුරු)</a> <small>[{{ info['download_sizes']['image_night'] }}]</small></li>
            <li><a download href="akuru_image_{{ '%02d' % info['id'] }}_color.png">පින්තූරය (වර්ණ)</a> <small>[{{ info['download_sizes']['image_color'] }}]</small></li>
            <li><a download href="akuru_image_{{ '%02d' % info['id'] }}_nobg.png">පින්තූරය (පසුබිම රහිත)</a> <small>[{{ info['download_sizes']['image_nobg'] }}]</small></li>
        </ul>
    </small>
</section>

<p><small>බාගැනීම් සහ අක්ෂර රූප <a href="https://codeberg.org/sinhala/akuru/raw/branch/main/LICENSE" target="_blank" rel="noopener nofollow noreferrer">CC BY-NC-SA 4.0</a> බලපත්‍රය යටතේ නිකුත් කර ඇත.</small></p>

{% endblock %}