{% extends 'base.html' %}

{% block title %}වචන ලැයිස්තුව{% endblock %}

{% block back_path %}../../{% endblock %}

{% block content %}
{% for word in words %}
<p>{{ word }}</p>
{% endfor %}

{% if nav|length > 1 %}
    <span class="pn">
        <small>පිටුව:</small>
        {% for p in nav %}
            {% if p == 0 %}
                ..
            {% else %}
                {% if p != pageNumber %}
                <a href="{{ url_for('page_words_list', id=p) }}">
                {% else %}
                <mark>
                {% endif %}
                    {{ p }}
                {% if p != pageNumber %}
                </a>
                {% else %}
                </mark>
                {% endif %}
            {% endif %}
        {% endfor %}
    </span>
{% endif %}
{% endblock %}