{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/akuru.css') }}">{% endblock %}

{% block title %}අකුරු{% endblock %}

{% block content %}
<section>
    <p>වැඩි විස්තර සහ ලියන ආකාරය බලාගැනීම සඳහා අකුරක් මත ඔබන්න.</p>
</section>

{% set breakpoints = [18,20,26,32,38,44,50,54] %}
<div class="ar">
    {% for i in range(1,62) %}
    <a class="ai" href="{{ url_for('page_akuru_info', id=i) }}">
        {% include '.akuru/svg/' + i|string + '.svg' %}
    </a>

        {% if i in breakpoints %}
</div>
<div class="ar">
        {% endif %}
    {% endfor %}
</div>

<p><small>අක්ෂර රූප <a href="https://codeberg.org/sinhala/akuru/raw/branch/main/LICENSE" target="_blank" rel="noopener nofollow noreferrer">CC BY-NC-SA 4.0</a> බලපත්‍රය යටතේ නිකුත් කර ඇත.</small></p>

{% endblock %}
