{% extends 'base.html' %}

{% block title %}යතුරු ලිවීම{% endblock %}

{% block content %}
<section>
    <p>ඔබ භාවිත කරන මෙහෙයුම් පද්ධතියේ නම සහිත කොටුව තුළ, ඔබ භාවිත කරන සංස්කරණය මත ඔබන්න.</p>
</section>
{% for distroCode, distroInfo in distros.items() %}
    {% set distroName = distroInfo['name'] %}
    {% set distroWebsite = distroInfo['website'] %}
    <article>
        <h3>{{ distroName }}</h3>
        <a href="{{ distroWebsite }}"><small>{{ distroWebsite }}</small></a>
        <p><small>සංස්කරණ:</small></p>
        <ul>
            {% for versionCode, versionInfo in distroInfo['versions'].items()|sort(reverse=True) %}
            {% set versionNumber = versionInfo['number'] %}
            {% set versionName = versionInfo['name'] %}
                <a href="{{ url_for('page_input_help_distro_version', distro=distroCode, version=versionCode) }}">
                    <li><b>{{ versionNumber }}{% if versionName %}{% if versionNumber %} - {% endif %}{{ versionName }}{% endif %}</b></li>
                </a>
            {% endfor %}
        </ul>
    </article>
{% endfor %}
<br>
<section>
    <small>ඔබ භාවිත කරන මෙහෙයුම් පද්ධතිය හෝ අදාළ සංස්කරණය මෙහි නොමැති නම්, එය ඇතුළත් කිරීම සඳහා පහත ලිපිනය වෙත යොමුවන්න. එහි ඇති '<b>තොරතුරු ඇතුළත් කිරීම</b>' කොටස කියවන්න.</small>
    <br><br>
    <a href="https://codeberg.org/sinhala/input_help#%E0%B6%AD-%E0%B6%BB%E0%B6%AD-%E0%B6%BB-%E0%B6%87%E0%B6%AD-%E0%B7%85%E0%B6%AD-%E0%B6%9A-%E0%B6%BB-%E0%B6%B8" target="_blank" rel="noopener noreferrer nofollow">https://codeberg.org/sinhala/input_help</a>
</section>
<a href="{{ url_for('page_input_report') }}">
    <article>
        <small>සිංහල යතුරු ලිවීම සඳහා නිතර භාවිත වන මෘදුකාංගවල දෝෂ වාර්තා කිරීම සඳහා උපදෙස් සහ තොරතුරු</small>
    </article>
</a>
{% endblock %}
