{% extends 'base.html' %}

{% block title %}දෝෂ වාර්තා කිරීම{% endblock %}

{% block content %}
{% for software in softwares %}
    <section>
        {% set name = software['name'] %}
        {% set url = software['url'] %}
        <h3>{{ name }}</h3>
        <a href="{{ url }}">{{ url }}</a>
    </section>
{% endfor %}
{% endblock %}
