{% extends 'base.html' %}

{% block title %}වචන{% endblock %}

{% block content %}
<a href="{{ url_for('page_words_list', id=1) }}">
    <article>
        <h3>වචන ලැයිස්තුව</h3>
        <p>ආකාරාදී පිලිවෙලට සකසා ඇති සිංහල වචන ලැයිස්තුවකි.</p>
    </article>
</a>
{% endblock %}
