<!DOCTYPE html>
<html lang="si">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="about:blank">
    <title>සිංහ.ල</title>
</head>

<body>
    <a href="{{ url_for('page_home') }}">
        <header>
            <h1>සිංහ.ල</h1>
            <small lang="en">sinha.la</small>
        </header>
    </a>
    {% if request.url_rule.endpoint and request.url_rule.endpoint != 'page_home' %}
    <a href="{% block back_path %}../{% endblock %}">
        <svg id="b" version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,6 10,16 22,26"/>
        </svg>
    </a>
    <h2 id="t">
        &nbsp;{% block title %}{% endblock %}
    </h2>
    {% endif %}
    <main>{% block content %}{% endblock %}</main>
    <footer>
        <a href="{{ url_for('page_home') }}">සිංහ.ල</a>
        |
        <a href="{{ url_for('page_privacy') }}">පෞද්ගලිකත්ව ප්‍රතිපත්තිය</a>
    </footer>
</body>

</html>
