{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('page_words') }}">
    <article>
        <h3>වචන</h3>
        <p>නිවැරදි අක්ෂර වින්‍යාස සහිත වචන</p>
    </article>
</a>
<a href="{{ url_for('page_akuru') }}">
    <article>
        <h3>අකුරු</h3>
        <p>අකුරු ලියන ආකාරය සහ තොරතුරු</p>
    </article>
</a>
<a href="{{ url_for('page_input_help') }}">
    <article>
        <h3>යතුරු ලිවීම</h3>
        <p>නිදහස් මෙහෙයුම් පද්ධති තුළ සිංහල ලිවීම සඳහා සහය</p>
    </article>
</a>
{% endblock %}
