{% extends 'base.html' %}

{% block title %}පෞද්ගලිකත්ව ප්‍රතිපත්තිය{% endblock %}

{% block content %}
<article>
    <p>මෙම වෙබ් අඩවිය සඳහා <a href="https://codeberg.page" rel="noopener noreferrer nofollow">Codeberg&nbsp;Pages</a> යොදාගෙන ඇති බැවින් ඔබේ IP ලිපිනය සහ 'user&nbsp;agent' වැනි තොරතුරු <a href="https://codeberg.org" rel="noopener noreferrer nofollow">codeberg.org</a> විසින් තාවකාලිකව සටහන් කරගනු ඇත. ඔවුන්ගේ පෞද්ගලිකත්ව ප්‍රතිපත්තිය <a href="https://codeberg.org/codeberg/org/src/PrivacyPolicy.md" rel="noopener noreferrer nofollow">codeberg.org/codeberg/org/src/PrivacyPolicy.md</a> වෙතින් කියවන්න.</p>
    <p>වෙබ් අඩවියේ ක්‍රියාකරු වන මා විසින් ඔබේ පෞද්ගලික තොරතුරු රැස් කරන්නේ නැත.</p>
</article>
{% endblock %}
