{% extends 'base.html' %}

{% block title %}යතුරු ලිවීම{% endblock %}

{% block back_path %}../../{% endblock %}

{% block content %}
{% set versionNumber = versionInfo['number'] %}
{% set versionName = versionInfo['name'] %}
<h2>{{ distroInfo['name'] }}{% if versionNumber | length > 0 %} {{ versionNumber }}{% endif %}{% if versionName | length > 0 %} | {{ versionName }}{% endif %}</h2>
{% for desktopInfo in versionInfo['desktops'] %}
    <article>
        {% set desktopPackages = desktopInfo['packages'] %}
        {% set desktopNotes = desktopInfo['notes'] %}
        {% set desktopSteps = desktopInfo['steps'] %}
        <h3>{{ desktopInfo['name'] }}</h3>
        {% if desktopInfo['unavailable'] %}
            <p>මෙහි සිංහල යතුරු ලිවීමට නොහැකි ය.</p>
        {% else %}
            {% if desktopPackages | length > 0 %}
                <p><small>ස්ථාපනය කළ යුතු පැකේජ:</small></p>
                <ul>
                    {% for package in desktopPackages %}
                        <li><code>{{ package }}</code></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><small>පැකේජ කිසිවක් ස්ථාපනය කිරීමට අවශ්‍ය නැත.</small></p>
            {% endif %}

            {% if desktopSteps | length > 0 %}
                <p><small>සක්‍රිය කිරීම සඳහා පියවර:</small></p>
                <ol>
                    {% for step in desktopSteps %}
                        <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            {% endif %}

            {% if desktopNotes | length > 0 %}
                <p><small>අමතර සටහන්:</small></p>
                <blockquote>{{ desktopNotes }}</blockquote>
            {% endif %}
        {% endif %}
    </article>
{% endfor %}
{% set distroReportUrl = distroInfo['reportUrl'] %}
{% if distroReportUrl | length > 0 %}
    <section>
        <small>දෝෂ වාර්තා කිරීම සඳහා:</small><br>
        <a href="{{ distroReportUrl }}">{{ distroReportUrl }}</a>
    </section>
{% endif %}
{% endblock %}
